
@media(max-width:500px){
    html{
        font-size: 45%;
    }

    .gallery__link:nth-child(5n){
        grid-column: span 1;
    }
    
    .about__content{
        flex-direction: column;
    }

    .about__cover{
        flex-basis: 30%;
        padding: 2rem;
    }
}
